@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  border: 0.2rem solid;
  border-radius: 1rem;
  max-width: 40%;
  margin: auto;
  margin-top: 15%;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  /* background: radial-gradient(
    circle at 0% -5%,
    #ffffff 5%,
    #fffde7 50%,
    #ffefcb 70%,
    #f6e3ba 100%,
    #dfcaa0 200%,
    #cfb284 250%
  ); */
  background-color: #36454f;
}

input {
  font-size: 1.5rem;
  max-width: 60%;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #4c616e;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

input::placeholder {
  color: white;
  opacity: 0.7;
}

button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: cornsilk;
  color: black;

  max-width: fit-content;
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-size: 1.5rem;
}
